<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="description" content="FlashCast.">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>sugarpie | oh no!</title>
<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>

<!-- CONTAINER -->
<div id="container">
	<div class="middle" style="text-align: center">
		<a href="/js"><img src="/images/logo_full.png"></a>
		<h1>Splat...</h1>

		<p>Pardon us as we clean up this little mess.</p>

		  {% if traceback %}
		  <p id="trace"><pre>{{ traceback|escape }}</pre></p>
		  {% endif %}
	</div>
</div>

</body>

</html>
